@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@font-face {
	font-family: "NFL Seattle Seahawks Flat";
	src: url("./resources/fonts/NFL_Seattle_Seahawks_Flat/NFL_Seattle_Seahawks_Flat[1].ttf") format("truetype");
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	--team-primary-color: #F00000;
	font-family: "Noto Sans JP", sans-serif;
}

.header,
.footer {
	width: 100%;
	height: 50px;
	background-color: var(--team-primary-color);
	color: #FFFFFF;
}
.header {
	position: fixed;
	top: 0px;
	z-index: 1;
}
.footer {
	bottom: 0px;
}

.header > .logo {
	position: absolute;
	height: 50px;
}
.header > .logo > img {
	padding: 5%;
	height: 90%;
}
.header > .pages {
	display: flex;
	position: relative;
	height: 100%;
	justify-content: center;
}
.header > .pages > .page {
	display: flex;
	height: 100%;
	padding: 0px 20px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	align-items: center;
	justify-content: center;
	transition: background-color 0.1s linear;
}
.header > .pages > .page:hover,
.header > .pages > .page.selected {
	background-color: color-mix(
		in srgb,
		var(--team-primary-color) 50%,
		#FFFFFF77 50%
	);
}

.footer > .copyright {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.content {
	position: relative;
	margin: 75px 0px 25px 0px;
	overflow-y: auto;
}

.content > .news {
	margin: 40px 30px 30px 30px;
	padding: 20px;
	background-color: #EEEEEE;
	border-radius: 20px;
}
.content > .news > .title {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.content > .title {
	text-align: center;
}

.content > .field > .group {
	width: 100%;
	margin-bottom: 50px;
}
.content > .field > .group > .type {
	font-family: "NFL Seattle Seahawks Flat";
	font-size: 3.0em;
	text-align: center;
}


.content > .field > .group > .players {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
	gap: 30px 100px;
}
.content > .field > .group > .players > .player > img {
	display: block;
	margin: auto;
	width: 200px;
	height: 300px;
	border-radius: 20px;
}
.content > .field > .group > .players > .player > .name {
	display: block;
	margin-top: 15px;
	font-weight: bold;
	text-align: center;
}

.content > .events {
	margin: 50px 0px;
}
.content > .events > .event {
	display: flex;
	height: 100px;
}
.content > .events > .event:nth-of-type(4n+1) {
	justify-content: left;
}
.content > .events > .event:nth-of-type(4n+3) {
	justify-content: right;
}

.content > .events > .event > .circle {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: var(--team-primary-color);
}
.content > .events > .event > .circle > span {
	display: inline-block;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: "NFL Seattle Seahawks Flat";
	font-size: 2.0em;
	color: #FFFFFF;
}
.content > .events > .event > .description {
	display: flex;
	position: relative;
	width: 200px;
	align-items: center;
	font-weight: bold;
}
.content > .events > .event:nth-of-type(4n+1) > .description {
	justify-content: left;
	left: calc((50% + 50px + 25px) * +1);
}
.content > .events > .event:nth-of-type(4n+3) > .description {
	justify-content: right;
	left: calc((50% + 50px + 25px) * -1);
}

.content > .events > .event-connecter {
	display: block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 7.5px;
	height: 100px;
	background: var(--team-primary-color);
}
.content > .events > .event-connecter.interrupted {
	background: linear-gradient(180deg, var(--team-primary-color), transparent);
}