@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@font-face {
	font-family: "NFL Seattle Seahawks Flat";
	src: url("./fonts/NFL_Seattle_Seahawks_Flat/NFL_Seattle_Seahawks_Flat[1].ttf") format("truetype");
}

body {
	font-family: "Noto Sans JP", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	--team-primary-color: #F00000;
}
.header {
	background-color: #00000022;
	color: white;
	padding-top: 5px;
	text-align: center;
}
.header > .menu {
	display: flex;
	justify-content: center;
	background-color: var(--team-primary-color);
}
.header > .menu a {
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	transition: background-color 0.1s linear;
}
.header > .menu a:not(.selected):hover,
.header > .menu a.selected {
	background-color: color-mix(
		in srgb,
		var(--team-primary-color) 50%,
		#FFFFFF77 50%
	);
}

.content {
	padding: 20px;
}

.content > .news {
	padding: 20px;
	background-color: #EEEEEE;
	border-radius: 20px;
}
.content > .news > .title {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.content > .title {
	text-align: center;
	margin-bottom: 40px;
}

.content > .event {
	display: flex;
	height: 100px;
}
.content > .event:nth-child(4n+2) {
	justify-content: left;
}
.content > .event:nth-child(4n+4) {
	justify-content: right;
}

.content > .event > .circle {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: var(--team-primary-color);
}
.content > .event > .circle > span {
	display: inline-block;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: "NFL Seattle Seahawks Flat";
	font-size: 2.0em;
	color: #FFFFFF;
}
.content > .event > .description {
	display: flex;
	position: relative;
	align-items: center;
	font-weight: bold;
}
.content > .event:nth-child(4n+2) > .description {
	left: calc((50% + 50px + 25px) * +1);
}
.content > .event:nth-child(4n+4) > .description {
	left: calc((50% + 50px + 25px) * -1);
}

.content > .event-connecter {
	display: block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 10px;
	height: 100px;
	background-color: var(--team-primary-color);
}

.footer {
	padding: 10px;
	background-color: var(--team-primary-color);
	color: #FFFFFF;
	text-align: center;
}